body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 14px;
}

.wrapper {
  overflow: hidden;
}

.wrapper .wrapper-inner {
  transition: all 0.4s ease-in-out;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.megamenu-submenu ul, .menu-panel, .breadcrumb-banner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

a {
  color: #000;
}

a:hover, a:focus {
  color: #1789c5;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  outline: none;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  z-index: 3;
}

.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
  outline: none;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
  outline: none;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  outline: none;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Dots */
.slick-dots {
  text-align: center;
  margin: 12px 0 0 0;
  padding: 0;
  outline: none;
}

.slick-dots li {
  display: inline-block;
  position: relative;
}

.slick-dots li button {
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  cursor: pointer;
  color: red;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:after {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  outline: none;
}

.slick-dots li.slick-active button::after {
  background: #fff;
  border-color: #1789c5;
}

.slick-dots li + li {
  margin-left: 5px;
}

/* Arrows */
.slick-prev,
.slick-next {
  cursor: pointer;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
  display: inline-block;
  background: transparent;
  color: #535353;
  padding: 0;
  outline: none;
  border-radius: 50%;
  border: 1px solid #535353;
  font-size: 0;
}

.slick-prev::before,
.slick-next::before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 35px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 10px;
}

.slick-prev::before {
  content: '\f104';
}

@media (min-width: 1400px) {
  .slick-prev {
    left: 80px;
  }
}

.slick-next {
  right: 10px;
}

.slick-next::before {
  content: '\f105';
}

@media (min-width: 1400px) {
  .slick-next {
    right: 80px;
  }
}

.ico-map-marker {
  background-image: url("../img/sprites.png");
  background-position: 0 -251px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 13px;
  display: inline-block;
}

.ico-phone {
  background-image: url("../img/sprites.png");
  background-position: 0 -299px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 18px;
  width: 14px;
  display: inline-block;
}

.ico-mail {
  background-image: url("../img/sprites.png");
  background-position: 0 -184px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 12px;
  width: 16px;
  display: inline-block;
}

.ico-hotline {
  background-image: url("../img/sprites.png");
  background-position: 0 -157px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 22px;
  width: 17px;
  display: inline-block;
}

.ico-global {
  background-image: url("../img/sprites.png");
  background-position: 0 -111px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 19px;
  display: inline-block;
}

.ico-clock, .expire-link .countdown-box .token-countdown::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -51px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 19px;
  display: inline-block;
}

.ico-calc, .extra .timer::before {
  background-image: url("../img/sprites.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.ico-user, .extra .availability::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -682px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 24px;
  display: inline-block;
}

.icon1, .tour-type-item .tour-type-icon.tour-type-1::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -391px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 37px;
  width: 46px;
  display: inline-block;
}

.icon2, .tour-type-item .tour-type-icon.tour-type-2::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -433px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 46px;
  width: 27px;
  display: inline-block;
}

.icon3, .tour-type-item .tour-type-icon.tour-type-3::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -484px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 35px;
  width: 36px;
  display: inline-block;
}

.icon4, .tour-type-item .tour-type-icon.tour-type-4::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -524px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 43px;
  width: 41px;
  display: inline-block;
}

.icon5, .tour-type-item .tour-type-icon.tour-type-5::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -572px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 39px;
  width: 37px;
  display: inline-block;
}

.icon6, .tour-type-item .tour-type-icon.tour-type-6::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -616px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 37px;
  width: 40px;
  display: inline-block;
}

.eye, .favorite-link .viewer::before {
  background-image: url("../img/sprites.png");
  background-position: 0 -94px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 12px;
  width: 20px;
  display: inline-block;
}

.ico-eye-blue {
  background-image: url("../img/sprites.png");
  background-position: 0 -75px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 14px;
  width: 21px;
  display: inline-block;
}

.ico-map-marker-blue {
  background-image: url("../img/sprites.png");
  background-position: 0 -225px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 21px;
  width: 13px;
  display: inline-block;
}

.ico-time-blue {
  background-image: url("../img/sprites.png");
  background-position: 0 -344px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 20px;
  display: inline-block;
}

.ico-calendar-blue {
  background-image: url("../img/sprites.png");
  background-position: 0 -25px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 21px;
  width: 21px;
  display: inline-block;
}

.ico-paper-plane-blue {
  background-image: url("../img/sprites.png");
  background-position: 0 -275px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 21px;
  display: inline-block;
}

.ico-users-blue {
  background-image: url("../img/sprites.png");
  background-position: 0 -658px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 27px;
  display: inline-block;
}

.ico-map-marker-2 {
  background-image: url("../img/sprites.png");
  background-position: 0 -201px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 19px;
  width: 12px;
  display: inline-block;
}

.ico-time-blue-2 {
  background-image: url("../img/sprites.png");
  background-position: 0 -322px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 17px;
  width: 17px;
  display: inline-block;
}

.ico-time-green {
  background-image: url("../img/sprites.png");
  background-position: 0 -369px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 17px;
  width: 17px;
  display: inline-block;
}

.ico-home-blue {
  background-image: url("../img/sprites.png");
  background-position: 0 -135px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 17px;
  width: 17px;
  display: inline-block;
}

.bg-light2 {
  background-color: #f4f4f4;
}

.heading {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .heading {
    margin-bottom: 35px;
  }
}

.heading .sub-title {
  font-size: 16px;
  margin: 3px 0 0 0;
  color: #606060;
}

.heading .h4 {
  font-size: 26px;
}

.heading .h5 {
  font-size: 22px;
}

.title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #020202;
  font-weight: 700;
}

.heading-flex .title span {
  color: #1789c5;
}

.heading-flex .h4 {
  font-size: 22px;
}

.btn {
  min-width: 92px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

.btn-info {
  background-color: #1789c5;
  border-color: #1789c5;
}

.btn-blue {
  background-color: #0e76ad;
  border-color: #0e76ad;
  color: #fff;
}

.btn-blue:hover, .btn-blue:focus {
  background-color: #0a567e;
  border-color: #0a567e;
  color: #fff;
  -ms-box-shadow: none;
  box-shadow: none;
}

.btn-lg {
  padding: 11px 24px;
}

.btn-outline-dark {
  border-color: #afafaf;
  color: #626262;
}

header {
  background-color: #fff;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .navbar .container {
    position: relative;
  }
}

@media only screen and (min-width: 992px) {
  .navbar .container:after {
    margin-left: -15px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: #1789c5;
    width: 100%;
  }
}

.navbar .navbar-nav .nav-link {
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
}

@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-link:after {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #1789c5;
    display: block;
    border: none;
    margin: 7px auto auto;
    transition: all ease 0.5s;
    position: relative;
    transform: translate(-120px, 0);
  }
}

.navbar .navbar-nav .nav-link:hover {
  color: #1789c5;
}

.navbar .navbar-nav .nav-link:hover:after {
  transform: translate(0, 0);
}

.navbar .navbar-nav .active .nav-link {
  color: #1789c5;
}

.navbar .navbar-nav .active .nav-link:after {
  transform: translate(0, 0);
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .language .nav-link {
    border-left: 1px solid #c4c4c4;
  }
}

.navbar .navbar-nav .language .nav-link:after {
  display: none;
}

.navbar .navbar-nav .language .nav-link i {
  vertical-align: middle;
  margin-right: 6px;
}

.navbar .dropdown-toggle:after {
  display: none;
}

.navbar .navbar-brand img {
  max-width: 140px;
}

@media only screen and (min-width: 1200px) {
  .navbar .navbar-brand img {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-top: 5px solid #1789c5;
    padding: 10px 0;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-main .dropdown.megamenu {
    position: static;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-main .dropdown.megamenu .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    top: 78px;
  }
  .navbar-main .dropdown.megamenu .dropdown-menu.full {
    max-width: 100%;
  }
  .navbar-main .dropdown.megamenu .dropdown-menu.full .col-md-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .navbar-main .dropdown.megamenu .dropdown-menu .col-sm-6 .megamenu-submenu ul {
    border-right: 1px dotted #d0d1cd;
  }
  .navbar-main .dropdown.megamenu .dropdown-menu .col-sm-6:last-child .megamenu-submenu ul {
    border-right: none;
  }
}

.navbar-main .dropdown-menu {
  border: none;
  border-radius: 0;
  font-size: 14px;
  padding: 20px;
  background-color: #f5f6f1;
  border-bottom: 5px solid #1789c5;
  top: 56px;
  margin-top: 0;
}

.megamenu-submenu {
  height: 100%;
}

.megamenu-submenu h5 {
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
}

.megamenu-submenu ul {
  padding-right: 30px;
  min-height: calc(100% - 32px);
}

.megamenu-submenu ul li:not(:last-child) {
  margin-bottom: 5px;
}

.megamenu-submenu ul li a {
  background: url(../img/bg/bulet-menu.png) no-repeat 0 7px;
  padding-left: 15px;
  display: inline-block;
}

.navbar-toggler {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}

.navbar-toggler:before, .navbar-toggler:after {
  background: #000;
  content: '';
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 26px;
  transition: all 0.3s ease;
}

.navbar-toggler:before {
  top: 20%;
  transform-origin: top left;
}

.navbar-toggler:after {
  bottom: 20%;
  transform-origin: bottom left;
}

.navbar-toggler span {
  background: #000;
  bottom: 0;
  display: block;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
  transition: all 0.3s ease;
}

.hotline-header {
  background-color: #1789c5;
  color: #fff;
  height: 100%;
  height: 58px;
  font-size: 20px;
  font-weight: 700;
  line-height: 58px;
  padding-left: 30px;
  background-image: url(../img/bg/hotline-header.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto 100%;
}

@media only screen and (min-width: 992px) {
  .hotline-header {
    height: 78px;
    line-height: 78px;
  }
}

.hotline-header i {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 36px;
  margin-right: 8px;
}

.language-mobile > a i {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.language-mobile > a:hover {
  color: #1789c5;
  text-decoration: none;
}

@keyframes showStickyMenu {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.fixed-header header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  animation: 250ms ease-out 0s normal none 1 running showStickyMenu;
}

/*========= menu mobile ============*/
@media (max-width: 991px) {
  .open-menu .wrapper .wrapper-inner {
    transform: translate(256px, 0);
  }
  .open-menu .slidebar-menu {
    left: 0;
  }
}

.close-menu {
  position: relative;
  width: 30px;
  height: 10px;
  cursor: pointer;
  padding-left: 10px;
}

.close-menu:after, .close-menu:before {
  content: '';
  border: 2px solid transparent;
  box-sizing: content-box;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: rotate(-45deg);
  border-color: rgba(255, 255, 255, 0.4);
}

.close-menu:before {
  border-right: 0;
  border-bottom: 0;
  right: 0;
}

.close-menu:after {
  border-left: 0;
  border-top: 0;
  right: 7px;
}

.slidebar-menu {
  width: 256px;
  height: 100%;
  position: fixed;
  left: -256px;
  top: 0;
  z-index: 999;
  background: #333;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
  font-size: 13px;
}

.slidebar-menu .navbar-search {
  padding: 7px 10px;
}

.slidebar-menu .navbar-search input {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 4px;
  font: inherit;
  font-size: inherit;
  line-height: 26px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 26px;
  min-height: 26px;
  max-height: 26px;
  margin: 0;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.85);
}

.slidebar-menu .navbar-top {
  border-bottom: 1px solid #000;
  padding: 10px 20px;
}

.menu-panel {
  padding-left: 20px;
}

.menu-panel li {
  border-bottom: 1px solid #000;
  position: relative;
  padding-right: 90px;
}

.menu-panel li a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.menu-panel .mm-btn_next {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90px;
  color: rgba(255, 255, 255, 0.4);
}

.menu-panel .mm-btn_next:before {
  content: '';
  border-left: 1px solid #000;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.menu-panel .mm-btn_next:after {
  content: '';
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-color: rgba(255, 255, 255, 0.4);
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: rotate(135deg);
  right: 23px;
  left: auto;
}

.menu-panel .mm-btn_next span {
  font-style: normal;
  line-height: 20px;
  display: block;
  margin-top: -10px;
  position: absolute;
  right: 45px;
  top: 50%;
}

.navbar-left {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mm-btn_prev {
  width: 14px;
  height: 14px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.mm-btn_prev:before, .mm-btn_prev:after {
  content: '';
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: content-box;
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 4px;
  bottom: 0;
  transform: rotate(-45deg);
  left: 3px;
  right: auto;
  border-color: rgba(255, 255, 255, 0.4);
}

.hidden {
  display: none;
}

.opened {
  display: block;
}

.navbar-breadcrum {
  -ms-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.navbar-breadcrum span {
  display: inline-block;
  padding: 0 3px;
}

.mm-navbars_bottom {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  border-top: 1px solid #000;
  line-height: 20px;
  text-align: center;
  padding: 10px 0;
}

.mm-navbars_bottom a {
  color: rgba(255, 255, 255, 0.4);
}

.mm-navbars_bottom a:hover, .mm-navbars_bottom a:focus {
  text-decoration: none;
}

/*========= e: menu mobile ============*/
/*------------------- Content --------------------*/
@media (max-width: 767px) {
  .search-tour-home {
    padding-top: 34px;
  }
}

.search-tour-home .search-tour {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .search-tour-home .search-tour {
    margin-top: 0;
  }
}

.suggest {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 49px;
}

.suggest h3 {
  color: #fff;
  font-size: 21px;
  text-shadow: -2px 1px rgba(0, 0, 0, 0.75);
  margin: 0;
}

/* section-tour-type */
.section-tour-type {
  padding-top: 42px;
  padding-bottom: 27px;
}

.section-tour-type .tour-type {
  padding-top: 10px;
}

.tour-type-item {
  text-align: center;
  margin-bottom: 15px;
  display: block;
}

.tour-type-item:hover, .tour-type-item:focus {
  text-decoration: none;
}

.tour-type-item:hover .tour-type-icon, .tour-type-item:focus .tour-type-icon {
  background-color: #0e76ad;
}

.tour-type-item .tour-type-icon {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #1789c5;
  display: inline-block;
  position: relative;
}

.tour-type-item .tour-type-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: inline-block;
}

.tour-type-item .tour-type-title {
  font-size: 16px;
  color: #333;
  margin: 8px 0 0 0;
}

/* section-expiring */
.section {
  padding-top: 38px;
  padding-bottom: 36px;
}

.expire-link {
  display: block;
  position: relative;
}

.expire-link .countdown-box {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: right;
  padding: 10px 25px;
}

.expire-link .countdown-box .token-countdown {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  padding-left: 22px;
}

.expire-link .countdown-box .token-countdown::before {
  color: #fff;
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.expire-link .countdown-box .token-countdown .col {
  padding-left: 0;
  padding-right: 0;
}

.expire-link .countdown-box .token-countdown .countdown-label {
  color: #1789c5;
  font-weight: 400;
}

.expire-link .countdown-box .token-countdown > span {
  padding: 0 1px;
}

.expire-link .expire-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 5;
}

.expire-link .expire-info .tour-name {
  font-size: 18px;
  margin: 0;
}

.expire-link .expire-info .expire-info-wrap {
  padding: 10px 22px;
}

.expire-link .expire-info p {
  font-size: 14px;
  margin-bottom: 0;
}

.expire-link .expire-info .item-price .old-price {
  color: #a7a7a7;
}

/* section-why */
.section-why {
  background: url("../img/upload/section-why.jpg") no-repeat center center/cover;
  color: #fff;
  padding: 43px 0 30px 0;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .section-why::before {
    position: absolute;
    top: 37.7398720682%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    height: 121px;
    background: url("../img/line.png") no-repeat center center;
    content: '';
    display: block;
    transform: translate(-50%, 0);
  }
}

.section-why .why {
  padding-top: 14px;
}

@media only screen and (min-width: 992px) {
  .why-box-2 {
    margin-top: 59px;
    margin-left: -27px;
  }
  .why-box-3 {
    margin-top: 8px;
  }
  .why-box-4 {
    margin-top: 59px;
    margin-left: -24px;
  }
}

.item-box {
  text-align: center;
  margin-bottom: 17px;
}

.item-box .icons {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  margin: 0 auto 17px;
}

@media only screen and (min-width: 992px) {
  .item-box .icons {
    width: 135px;
    height: 135px;
  }
}

.item-box .icons::before {
  background-color: #1789c5;
  top: 7px;
  bottom: 7px;
  left: 7px;
  right: 7px;
  border-radius: 50%;
  content: '';
  display: block;
  position: absolute;
}

.item-box .icons .icon {
  position: relative;
  display: inline-block;
}

.item-box h5 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.3;
}

.item-box p {
  margin-bottom: 0;
  line-height: 21px;
}

/* section-promorion */
.travel {
  padding-top: 12px;
}

.travel .heading-flex {
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .travel .heading-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .travel .heading-flex .nav-tour {
    margin-top: -3px;
  }
}

.travel.domestic-travel {
  margin-bottom: 25px;
}

.nav-tour .nav-link {
  font-size: 13px;
  text-transform: uppercase;
  color: #626262;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 479px) {
  .nav-tour .nav-link {
    padding: 5px;
    font-size: 12px;
  }
}

.nav-tour .nav-link.active, .nav-tour .nav-link:hover, .nav-tour .nav-link:focus {
  color: #1789c5;
  border-color: #1789c5;
}

.item-price > span {
  display: inline-block;
}

.item-price .new-price {
  font-size: 20px;
  color: #1789c5;
  font-weight: 500;
}

.item-price .old-price {
  color: #626262;
  font-size: 15px;
  text-decoration: line-through;
  margin-left: 5px;
}

.card-link {
  position: relative;
}

.extra {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  z-index: 10;
}

.extra .availability, .extra .timer {
  display: inline-block;
  position: relative;
  padding-left: 25px;
}

.extra .availability::before, .extra .timer::before {
  color: #fff;
  display: inline-block;
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}

.extra .availability {
  padding-left: 30px;
}

.extra .timer {
  padding-left: 26px;
}

/* section-favorite */
.carousel-center .slick-slide {
  opacity: .1;
  transition: opacity .5s ease-in;
}

.carousel-center .slick-slide.slick-active {
  opacity: 1;
}

.carousel-center .item {
  padding: 0 15px;
}

.shadow-bottom::before {
  position: absolute;
  z-index: 1;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.favorite-link {
  position: relative;
  display: block;
  transition: all .5s ease-in;
}

.favorite-link::after {
  position: absolute;
  z-index: 2;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-radius: 5px;
}

.favorite-link:hover::after, .favorite-link:focus::after {
  opacity: 1;
}

.favorite-link .bg-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: absolute;
  z-index: 5;
  width: 100%;
}

.favorite-link .bg-overlay .col {
  padding: 0;
}

.favorite-link .viewer {
  color: #b8b8b8;
  display: inline-block;
  position: relative;
  margin-right: 12px;
}

@media only screen and (min-width: 992px) {
  .favorite-link .viewer {
    margin-right: 28px;
  }
}

.favorite-link .viewer::before {
  content: '';
  margin-right: 5px;
}

.favorite-link .place {
  display: inline-block;
  min-width: 140px;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  border-bottom-left-radius: 0.25rem;
  background-color: #1789c5;
}

.favorite-link .btn-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

/* section-testmonial*/
.section-testmonial {
  padding-bottom: 36px;
  padding-top: 10px;
}

@media only screen and (min-width: 768px) {
  .section-testmonial .heading {
    margin-bottom: 24px;
  }
}

.testmonials {
  margin: 0 -15px;
  overflow: hidden;
}

.testmonial-item {
  padding: 0 15px;
  position: relative;
}

.testmonial-item .avatar {
  display: inline-block;
  position: relative;
  padding-left: 18px;
  padding-top: 9px;
}

.testmonial-item .avatar::before {
  position: absolute;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  border-radius: 50%;
  background-color: #1789c5;
  content: '“';
  display: inline-block;
  left: 9px;
  top: 0;
  font-size: 38px;
  font-family: 'Arial', sans-serif;
}

.testmonial-item .avatar img {
  width: 80px;
  height: 80px;
}

.testmonial-item .desc {
  margin-top: -42px;
  background-color: #1789c5;
  border-radius: 5px;
  padding: 0 15px;
  color: #fff;
  height: 243px;
  border-bottom: 3px solid #eaeaea;
}

.testmonial-item .desc blockquote {
  border: 0;
  padding: 57px 0 0 0;
  margin: 0;
  height: 180px;
  overflow: hidden;
  font-style: italic;
  line-height: 24px;
}

.testmonial-item .author {
  padding-top: 12px;
}

.testmonial-item .author > span {
  text-transform: uppercase;
  font-weight: 500;
}

/* section-video */
.section-video {
  padding: 42px 0 18px 0;
}

@media only screen and (min-width: 768px) {
  .section-video .heading {
    margin-bottom: 24px;
  }
}

.effect-ltr {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  border-radius: 5px;
}

.effect-ltr::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  z-index: 1;
  border-radius: 5px;
}

.effect-ltr:hover::before {
  transform: scaleX(1);
}

.sale-off {
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: #1789c5;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  right: 24px;
  top: 12px;
  z-index: 15;
}

.effect-more {
  position: relative;
  overflow: hidden;
}

.effect-more .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  z-index: 3;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.effect-more:hover .btn {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.badge-timer {
  display: inline-block;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #fff;
}

.badge-timer::before {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1789c5;
  content: '';
  display: block;
  border-top-left-radius: 74px;
  border-top-right-radius: 74px;
}

.badge-timer .discount {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}

.badge-timer .discount em {
  padding-top: 8px;
}

.badge-timer > span {
  text-align: center;
  display: block;
  position: relative;
  height: 50%;
  overflow: hidden;
}

.badge-timer > span em {
  display: inline-block;
  font-style: normal;
}

.badge-timer .timer {
  color: #1789c5;
  font-size: 17px;
  font-weight: 700;
}

.badge-timer .timer em {
  padding-top: 4px;
}

.badge-timer.position-rt {
  position: absolute;
  top: 18px;
  right: 30px;
  z-index: 10;
}

.badge-timer.position-lt {
  position: absolute;
  top: 18px;
  left: 17px;
  z-index: 10;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-link {
  position: relative;
  display: block;
}

.item-link .bg-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(52, 151, 203, 0.95);
  padding: 5px 15px 10px;
  z-index: 5;
}

.item-link .bg-overlay .item-title {
  font-size: 20px;
  color: #fff;
  margin: 0;
}

.item-link .video-player {
  width: 75px;
  height: 74px;
  background: url("../img/video-player.png") no-repeat 0 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.international-travel .item-link .bg-overlay {
  background-color: rgba(0, 0, 0, 0.65);
}

.item-link .item-price .new-price,
.item-link .item-price .old-price {
  color: #fff;
}

.card-1 {
  border: 0;
  border-bottom: 3px solid #eaeaea;
}

.card-1 .cart-title {
  font-size: 16px;
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.card-1 .cart-title a {
  color: inherit;
}

.card-1 .cart-title a:hover, .card-1 .cart-title a:focus {
  color: #1789c5;
  text-decoration: none;
}

.card-1 .card-body {
  padding: 15px;
}

.card-1 .card-body .item-price {
  padding-top: 5px;
}

@media only screen and (min-width: 992px) {
  .card-1 .card-text {
    max-height: 44px;
  }
}

.mb-col {
  margin-bottom: 24px;
}

.blog-item {
  color: #575757;
  margin-bottom: 30px;
}

.blog-item figure {
  margin: 0;
}

.blog-item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.blog-item h3 a {
  color: #000;
}

.blog-item h3 a:hover, .blog-item h3 a:focus {
  color: #1789c5;
  text-decoration: none;
}

.blog-item .time {
  margin-bottom: 15px;
  font-size: 15px;
}

.blog-item .time i {
  font-size: 20px;
  vertical-align: text-top;
  margin-right: 5px;
}

.blog-item .desc {
  line-height: 24px;
  max-height: 96px;
}

.blog-special {
  margin-bottom: 32px;
}

.blog-special .bg-light {
  padding: 0 12px 32px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px #eeeeee,5px 0 #eeeeee;
}

.heading-flex.sidebar-title {
  margin-bottom: 14px;
}

.heading-flex.sidebar-title .title {
  font-weight: 500;
}

.heading-flex.sidebar-title .title span {
  font-weight: 700;
}

.special-main {
  margin-bottom: 10px;
}

.special-main figure {
  margin: 0 -12px 14px;
}

.special-main h3 {
  line-height: 1.3;
  font-size: 18px;
  font-weight: 700;
}

.special-main h3 a {
  color: #000;
}

.special-main h3 a:hover, .special-main h3 a:focus {
  color: #1789c5;
  text-decoration: none;
}

.special-main .desc {
  line-height: 1.3;
}

.list-blog-special {
  margin: 0;
}

.list-blog-special li {
  border-top: 1px solid #d3dfe8;
  padding-top: 15px;
  margin-top: 22px;
}

.list-blog-special li:first-child {
  margin-top: 0;
}

.list-blog-special li figure {
  margin: 0;
  -ms-flex: 0 0 77px;
  flex: 0 0 77px;
  max-width: 77px;
}

.list-blog-special li .text {
  -ms-flex: 0 0 calc(100% -77px);
  flex: 0 0 calc(100% -77px);
  max-width: calc(100% -77px);
  padding-left: 8px;
}

.list-blog-special li h4 {
  line-height: 16px;
  font-size: 14px;
  max-height: 48px;
  margin: 0;
  font-weight: normal;
}

.list-blog-special li h4 a {
  color: #000;
}

.list-blog-special li h4 a:hover, .list-blog-special li h4 a:focus {
  color: #1789c5;
  text-decoration: none;
}

.tour-special {
  margin-bottom: 32px;
}

.slider-tour-special {
  margin: 0 -15px;
}

.slider-tour-special .item {
  padding: 0 15px;
}

.slider-tour-special .card {
  margin-bottom: 0 !important;
  background-color: #f4f4f4;
}

@media only screen and (min-width: 576px) {
  .slider-tour-special .card {
    margin-bottom: 15px !important;
  }
}

@media only screen and (min-width: 992px) {
  .slider-tour-special .card {
    margin-bottom: 0 !important;
  }
}

.slider-tour-special .slick-dots {
  margin: 0;
  text-align: right;
  padding-right: 15px;
}

.entry-blog {
  padding-bottom: 22px;
}

.entry-title {
  line-height: 1.3;
  font-size: 24px;
  font-weight: 700;
}

.entry-meta {
  color: #a7ce38;
  font-size: 15px;
}

.entry-meta i {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: text-top;
}

.short-entry {
  color: #575757;
  line-height: 1.3;
  margin-bottom: 35px;
}

.sumary-entry h4 {
  font-weight: 700;
  font-size: 18px;
}

.share-blog {
  margin-bottom: 32px;
}

.title-line {
  position: relative;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #333333;
}

.title-line:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  display: block;
  bottom: 13px;
  position: absolute;
  z-index: 1;
}

.title-line span {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-right: 15px;
  display: inline-block;
}

.related-blog-item {
  margin-bottom: 25px;
}

.related-blog-item figure {
  margin-bottom: 16px;
}

.related-blog-item .effect-ltr {
  display: block;
}

.related-blog-item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.related-blog-item h3 a {
  color: #000;
}

.related-blog-item h3 a:hover, .related-blog-item h3 a:focus {
  color: #1789c5;
  text-decoration: none;
}

.related-blog-item .time {
  color: #1789c5;
  font-size: 15px;
  margin-bottom: 10px;
}

.related-blog-item .time i {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: text-top;
}

.related-blog-item .desc {
  line-height: 18px;
  color: #575757;
  max-height: 36px;
}

.checkout {
  padding-top: 15px;
}

.checkout .header-tour-detail {
  margin-top: 6px;
}

.checkout .header-tour-detail h2 {
  margin-bottom: 4px;
}

.checkout .header-tour-detail .list-info-tour {
  margin-top: 20px;
}

/* .book-info */
.bold-text {
  font-size: 18px;
}

.book-info-table {
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
  .book-info-table {
    margin-bottom: 40px;
  }
}

.book-info-table .table {
  color: #3b3b3b;
  border-bottom: 1px solid #eaeaea;
}

.book-info-table .table thead {
  color: #fff;
  border-radius: 5px;
}

.book-info-table .table thead tr th {
  background-color: #1789c5;
  border: 0;
}

.book-info-table .table thead tr th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.book-info-table .table thead tr th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.book-info-table .table tr th:first-child, .book-info-table .table tr td:first-child {
  border-right: 1px solid #eaeaea;
}

@media only screen and (min-width: 992px) {
  .book-info-table .table tr th:first-child, .book-info-table .table tr td:first-child {
    width: 73%;
  }
}

.book-info-table .table tbody tr:first-child td {
  border-top-width: 0;
}

@media only screen and (min-width: 992px) {
  .book-info-table .table td, .book-info-table .table th {
    padding: 15px 26px;
  }
}

.book-info-table .table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.book-info-table .table-striped tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

.book-dskh {
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .book-dskh {
    margin-bottom: 57px;
  }
}

.book-dskh .form-group {
  margin-bottom: 10px;
}

.book-dskh .form-control {
  height: 43px;
}

.reset-select .custom-select {
  border: 1px solid #bdbdbd;
  height: 43px;
}

.reset-select .custom-select a {
  color: #333;
  padding: 8px 10px;
}

.reset-select .custom-select a::after {
  height: auto;
  width: auto;
  right: 10px;
  font-size: 18px;
  content: '\f107';
  display: inline-block;
  color: #bdbdbd;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reset-select .custom-select.custom-select-open {
  border-radius: 0.25rem 0.25rem 0 0;
}

.reset-select .custom-select > div {
  margin-top: 1px;
  border-color: #bdbdbd;
  margin: 1px -1px 0;
  width: calc(100% + 2px);
}

.start-date {
  position: relative;
}

.start-date input {
  padding-right: 30px;
  font-size: 14px;
}

.start-date::before {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  font-size: 18px;
  content: '\f073';
  display: inline-block;
  color: #bdbdbd;
  font-family: 'FontAwesome';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* terms */
.terms .content {
  padding: 15px;
  margin-bottom: 36px;
}

.terms .content .desc {
  height: 100px;
  overflow-y: auto;
}

.min-width-10rem {
  min-width: 160px;
}

.bg-light {
  background-color: #f4f4f4 !important;
}

#filters a {
  cursor: pointer;
}

.effect-btn {
  position: relative;
  overflow: hidden;
}

.effect-btn .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  z-index: 3;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

@media only screen and (min-width: 768px) {
  .effect-btn .extra {
    transform: translate(0, 120px);
    transition: all ease-in-out 0.5s;
  }
}

.effect-btn:hover .btn {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.effect-btn:hover .extra {
  transform: translate(0, 0);
}

.list-tours {
  padding: 30px 0 40px;
}

.list-tours .nav {
  margin-bottom: 35px;
}

@media only screen and (min-width: 992px) {
  .list-tours .nav .nav-link {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0;
  }
}

.list-tours .card {
  margin-bottom: 25px;
}

.slide-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  position: relative;
}

.slider-banner {
  font-size: 0;
}

.breadcrumb-banner {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 34;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  font-size: 15px;
}

.breadcrumb-banner a {
  color: #fff;
}

.breadcrumb-banner h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
}

@media only screen and (min-width: 768px) {
  .breadcrumb-banner h2 {
    font-size: 40px;
  }
}

.breadcrumb-banner ul li {
  display: inline-block;
}

.breadcrumb-banner ul li i {
  font-size: 18px;
}

.breadcrumb-banner ul li + li:before {
  content: "/";
  margin: 0 5px;
}

.search-tour {
  background-color: #1789c5;
  color: #fff;
  padding: 0 20px;
  position: relative;
  border-radius: 12px;
  margin: 34px 0 34px;
}

@media only screen and (min-width: 992px) {
  .search-tour {
    padding: 0 95px 0 20px;
  }
}

@media only screen and (min-width: 768px) {
  .search-tour {
    margin-top: -34px;
  }
}

@media only screen and (min-width: 992px) {
  .search-tour .row .col-sm-6 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .search-tour .row .col-sm-6:not(:last-child) {
    border-right: 1px solid #20a9d9;
  }
}

.search-tour .btn {
  font-size: 22px;
  margin: 0 -20px;
  border-radius: 0 0 12px 12px;
  width: calc(100% + 40px);
}

@media only screen and (min-width: 992px) {
  .search-tour .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70px;
    z-index: 3;
    border-radius: 0 12px 12px 0;
    min-width: 70px;
    border-left: 1px solid #20a9d9;
    margin: 0;
  }
}

.custom-select {
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  height: auto;
}

.custom-select a {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 18px 15px 15px 24px;
  background-repeat: no-repeat;
}

.custom-select a:focus {
  outline: none;
}

.custom-select a:after {
  content: "";
  background: url(../img/front/arrow.png) no-repeat right center;
  width: 11px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.custom-select input {
  width: calc(100% - 10px);
}

.custom-select > div {
  margin-top: 0;
}

.your-place a {
  background-image: url(../img/front/map.png);
  background-position: left 16px;
}

.time-tour a {
  background-image: url(../img/front/time.png);
  background-position: left 16px;
  padding-left: 30px;
}

.price-tour a {
  background-image: url(../img/front/price.png);
  background-position: left 18px;
  padding-left: 21px;
}

.your-favourite a {
  background-image: url(../img/front/favourite.png);
  background-position: left 16px;
  padding-left: 27px;
}

.date-tour {
  position: relative;
}

.date-tour:before {
  content: "";
  background: url(../img/front/arrow.png) no-repeat right center;
  width: 11px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.date-tour:after {
  content: "";
  background: url(../img/front/calander.png) no-repeat right center;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.date-tour .form-control {
  height: 60px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  padding-left: 32px;
  padding-right: 15px;
  position: relative;
  z-index: 2;
}

.date-tour .form-control::-webkit-input-placeholder {
  color: #fff;
}

.date-tour .form-control:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.date-tour .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.date-tour .form-control:-ms-input-placeholder {
  color: #fff;
}

.desc-tour {
  color: #4b4b4b;
  margin-bottom: 35px;
}

@media only screen and (min-width: 768px) {
  .desc-tour {
    line-height: 2;
  }
}

.breadcrumb-light {
  background-color: #f4f4f4;
  margin-bottom: 35px;
}

.breadcrumb-light .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding: 19px 0;
  margin-bottom: 0;
}

.breadcrumb-light .breadcrumb-item a {
  color: #333333;
}

.breadcrumb-light .breadcrumb-item a:hover {
  color: #1789c5;
}

.breadcrumb-light .breadcrumb-item a i {
  color: #1789c5;
  font-size: 22px;
}

.breadcrumb-light .breadcrumb-item.active {
  color: #333333;
}

.gaps {
  border-top-color: #e0e0e0;
  margin-top: 9px;
  margin-bottom: 24px;
}

.gaps.gaps-2x {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tour-detail {
  margin-bottom: 30px;
}

.info-tour {
  background-color: #f4f4f4;
  font-size: 15px;
  color: #3b3b3b;
  padding: 20px 16px;
  border-radius: 5px;
  box-shadow: 0 5px #eeeeee,5px 0 #eeeeee;
}

.info-tour .heading-flex {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 0 9px;
  margin-bottom: 9px;
}

.info-tour .heading-flex h3 {
  font-size: 20px;
  font-weight: 500;
}

.info-tour .heading-flex h3 span {
  font-weight: 700;
}

.info-tour .item-price .new-price {
  font-weight: 700;
  font-size: 28px;
}

.info-tour .item-price .old-price {
  font-size: 16px;
  font-weight: 300;
}

.info-tour .btn {
  margin-top: 7px;
  min-width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 15px;
}

.list-info-tour li {
  position: relative;
  padding-left: 37px;
  margin-bottom: 16px;
}

.list-info-tour li i {
  color: #1789c5;
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  text-align: center;
  font-size: 20px;
}

.list-info-tour li i.fa-map-marker, .list-info-tour li i.fa-clock-o {
  font-size: 24px;
}

.header-tour-detail {
  color: #7e7e7e;
  margin-bottom: 30px;
}

.header-tour-detail h2 {
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}

.header-tour-detail .h4 {
  font-size: 26px;
}

.header-tour-detail .h5 {
  font-size: 22px;
}

.header-tour-detail .social {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid #d8d8d8;
  margin-right: 12px;
  padding-right: 32px;
}

@media (max-width: 566px) {
  .header-tour-detail .social {
    display: block;
  }
}

.header-tour-detail .social a:not(:last-child) {
  margin-right: 5px;
}

.header-tour-detail .code {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 29px;
  text-transform: uppercase;
}

@media (max-width: 566px) {
  .header-tour-detail .code {
    display: block;
    border: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 5px;
  }
}

.header-tour-detail .viewer {
  font-size: 13px;
}

@media (max-width: 566px) {
  .header-tour-detail .viewer {
    margin-top: 8px;
  }
}

.header-tour-detail .viewer i {
  color: #1789c5;
  font-size: 22px;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.clr-blue {
  color: #1789c5;
}

.slider-nav {
  margin-top: 11px;
  margin-bottom: 37px;
  margin-left: -7px;
}

@media only screen and (min-width: 1200px) {
  .slider-nav {
    padding: 0 72px;
  }
}

.slider-nav img {
  width: 100%;
}

.slider-nav .slick-prev, .slider-nav .slick-next {
  width: 21px;
  height: 21px;
  line-height: 19px;
  border-color: #1789c5;
  background-color: #1789c5;
  color: #fff;
}

.slider-nav .slick-prev:before, .slider-nav .slick-next:before {
  font-size: 14px;
}

.slider-nav .slick-prev {
  left: 5px;
}

@media only screen and (min-width: 1200px) {
  .slider-nav .slick-prev {
    left: 36px;
  }
}

.slider-nav .slick-next {
  right: 5px;
}

@media only screen and (min-width: 1200px) {
  .slider-nav .slick-next {
    right: 36px;
  }
}

.slider-nav .slick-slide {
  margin-left: 7px;
}

.slider-nav .slick-current .item {
  border: 2px solid #2892c9;
}

.nav-tour-detail {
  border-bottom: 1px solid #1789c5;
  margin-bottom: 0;
}

.nav-tour-detail .nav-item:not(:last-child) {
  margin-right: 6px;
}

.nav-tour-detail .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  background-color: #f4f4f4;
  border-radius: 3px 3px 0 0;
}

@media only screen and (min-width: 768px) {
  .nav-tour-detail .nav-link {
    padding: 13px 25px;
  }
}

.nav-tour-detail .nav-link.active {
  background-color: #1789c5;
  color: #fff;
}

.tab-content-tour-detail {
  border-left: 1px solid #f4f4f4;
  padding: 40px 0 0 24px;
  color: #606060;
}

.tab-content-tour-detail h4 {
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.tab-content-tour-detail .tab-pane p:last-child {
  margin-bottom: 0;
}

.title-pane {
  position: relative;
  padding-left: 46px;
  color: #1789c5;
  font-weight: 700;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 5px;
  margin-bottom: 21px;
}

.title-pane span {
  background-color: #1789c5;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 37px;
  height: 37px;
  font-size: 20px;
  line-height: 37px;
  position: absolute;
  left: 0;
  top: 0;
}

.title-pane span i {
  vertical-align: middle;
}

.related-tour {
  padding: 32px 0 70px;
}

.related-tour h2 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.slider-related-tour {
  margin-left: -30px;
}

.slider-related-tour .slick-slide {
  margin-left: 30px;
}

.slider-related-tour .slick-prev {
  left: 30px;
  background-color: #fff;
}

@media only screen and (min-width: 1200px) {
  .slider-related-tour .slick-prev {
    left: -55px;
    background-color: transparent;
  }
}

.slider-related-tour .slick-next {
  right: 0;
  background-color: #fff;
}

@media only screen and (min-width: 1200px) {
  .slider-related-tour .slick-next {
    right: -85px;
    background-color: transparent;
  }
}

.footer-links {
  font-size: 15px;
  padding: 55px 0 30px;
  border-bottom: 1px solid #ededed;
}

.footer-links h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
}

.links-toggle {
  font-weight: 300;
}

.links-toggle h4 {
  font-weight: normal;
  color: #1789c5;
  font-size: 15px;
  margin-bottom: 2px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .links-toggle h4 {
    cursor: text;
  }
}

.links-toggle h4 i {
  transition: all ease 0.5s;
}

.links-toggle ul {
  display: none;
}

@media only screen and (min-width: 768px) {
  .links-toggle ul {
    display: block;
  }
}

.links-toggle.open ul {
  display: block;
}

.links-toggle.open h4 i {
  transform: rotate(180deg);
}

.footer-brands {
  padding: 27px 0 34px;
}

.list-brands {
  margin: 0 -15px;
}

.list-brands .slick-slide {
  padding: 0 15px;
}

.footer-blue {
  color: #fff;
  background-color: #1789c5;
  padding: 40px 0 54px;
}

.footer-blue a {
  color: #fff;
}

.about-ft {
  font-weight: 300;
}

.about-ft h3 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.about-ft ul li {
  position: relative;
  padding-left: 22px;
}

.about-ft ul li:not(:last-child) {
  margin-bottom: 14px;
}

.about-ft ul li i {
  position: absolute;
  top: -5px;
  left: 0;
}

.about-ft ul li:last-child i {
  top: 2px;
}

.hotline-footer {
  position: relative;
  padding-left: 23px;
  margin-bottom: 14px;
}

.hotline-footer i {
  position: absolute;
  top: 1px;
  left: 0;
}

.hotline-footer h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 5px;
}

.links {
  font-weight: 300;
}

.links li:not(:last-child) {
  margin-bottom: 14px;
}

.fooer-bottom {
  background-color: #f4f4f4;
  padding: 22px 0 16px;
  font-size: 15px;
}

.footer-payment span {
  margin-bottom: 10px;
  display: block;
}

@media only screen and (min-width: 992px) {
  .footer-payment span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-payment span {
    margin-right: 5px;
  }
}

.footer-payment img {
  margin: 0 10px;
}

@media only screen and (min-width: 992px) {
  .footer-payment img {
    margin: 0 5px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer-payment img {
    margin: 0 10px;
  }
}

.footer-payment img:last-child {
  margin-right: 0;
}