@media screen and (min-width: 992px)
	.center-intro
		width: 50%
		margin: 0 auto
	.footer .container
	    color: #FFF
	    padding: 15px
	    width: 980px
	    box-sizing: border-box
	.travel 
		img
			width: 100%
		.travel-detail
			height: 425px
	.noPadding-left
		padding-left: 0
	.noPadding-right
		padding-right: 0
	.guide
		img
			max-height: 145px
			width: 100%
	.content-request input
		max-width: 300px
	.news
		margin-top: 45px!important
	.main 
		margin-top: 90px!important
	.thumb-blog
		a 
			width: 100%
			display: block 
			img
				width: 100%