@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700i&subset=greek-ext,vietnamese')
@import '_variable.sass'
@import '_desktop.sass'
@import '_tablet.sass'
@import '_mobile.sass'
body
	font-family: 'Open Sans', sans-serif
	font-size: 14px
	color: #3a3b3f
a, input[type="submit"]
    transition: all 300ms ease-in
a:hover, a:active, a:focus
	text-decoration: none
	color: $red
img
	max-width: 100%
	height: auto
.noPadding
	padding: 0
.padding-70
	padding: 70px 0
.header
	background: #fff none repeat scroll 0 0
	position: fixed
	width: 100%
	z-index: 100
	top: 0px
	left: 0px
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5)
	padding: 5px 0
.main-menu
	padding: 15px 0 0
	ul
		list-style: none
		margin: 0
		padding: 0
		float: right
	> ul 
		> li:last-child > a
			padding-right: 0
		> li.current-menu-item > a, > li:hover > a
			color: $red
	.sub-menu
		display: none
		background-color: #fff
		width: 250px
		border: 1px solid #eee
		li
			display: block
			position: relative
			padding: 10px 0
			width: 100%
			border-bottom: 1px solid #eee
	li
		padding-bottom: 26px
		margin-bottom: 0
		display: inline-block
		float: left
	a
		padding: 0 20px
		color: #5E686E
		display: block
	li:hover .sub-menu
		display: block
		position: absolute
		top: 100%
		z-index: 2

.main
	margin-top: 71px
	position: relative
	z-index: 1
.slide-main
	img
		width: 100%
		height: auto
	.item-content
		position: absolute
		text-align: center
		top: 35%
		width: 100%
		background-color: rgba(0,0,0,0.42)
		padding: 20px 0 10px 0
	.title-slider
		font-size: 50px
		font-weight: 400
		color: #FFF
		padding: 0 15px
		box-sizing: border-box
		margin: 0
	.des
		color: #FFF
		padding: 0 15px
		box-sizing: border-box
		font-size: 22px
		margin-top: 20px
		color: #fff
.search-option
	background: #383c3f
	min-height: 60px
	padding: 12px 0
	box-sizing: border-box
	margin-bottom: 20px
.home-search
	width: 360px
	margin: auto
	select
		border: medium none
		border-radius: 0
		height: 33px !important
		margin: 0
		border: none
		width: 270px
		padding: 4px 6px
		outline: 0
		color: #555
		float: left
	option
		padding: 2px 5px
		font-weight: normal
		display: block
		white-space: pre
		min-height: 1.2em
	input[type="submit"]
		display: inline-block
		padding: 8px 12px 7px
		margin-bottom: 0
		font-size: 13px
		line-height: 18px
		text-align: center
		vertical-align: middle
		cursor: pointer
		background-color: $red
		border: 0
		box-shadow: none
		color: #fff
		outline: 0
		float: left
		&:hover
			background: $red-hover none repeat scroll 0 0
.destination, .theme-detail
	.title-image
		position: relative
		display: block
		width: 100%
		overflow: hidden
	img
		transition: transform 1s
		-webkit-filter: grayscale(.3)
		filter: grayscale(.3)
	img:hover
		transform: scale(1.1)
		transition: transform 1s
		-webkit-filter: grayscale(0)
		filter: grayscale(0)
	.title
		position: absolute
		top: 0%
		width: 100%
		transition: all 300ms ease-in
		.city
			margin: 0
			color: #fff
			line-height: 40px
			font-size: 24px
			text-transform: uppercase
			font-weight: 300
		&:hover
			background-color: $red
			transition: all 300ms ease-in
.destination-detail, .theme-detail
	> div
		margin-bottom: 40px
		padding-bottom: 20px
.general-header
	.title-general
		margin-bottom: 10px
		text-transform: uppercase
		font-weight: 300
		font-size: 35px
		line-height: 1.5
		color: #383c3f
		padding: 3px 0
		margin-top: 0
	.description
		margin: 0 0 25px 0
		font-size: 14px
.btn-view-all
	a
		display: inline-block
		padding: 11px 19px
		margin-bottom: 0
		font-size: 16px
		line-height: 25px
		text-align: center
		vertical-align: middle
		cursor: pointer
		color: #666
		background: #fff none repeat scroll 0 0
		border: 1px solid #ccc
		&:hover
			color: #fff
			background: $red-hover none repeat scroll 0 0
.intro
	background: url(../images/bg-intro.jpg) no-repeat 0 0
	background-size: cover
	.content-intro
		padding: 20px 40px 40px
		background-color: #fff
		img
			margin-bottom: 15px
	.des
		font-size: 15px
		line-height: 25px
	.btn-view-all
		margin: 15px 0
.theme
	background-color: #f2f2f2
.tour
	.content-tour
		.detail-tour
			margin: 0 auto
			overflow: hidden
			img
				margin: 0 auto
	.title
		font-size: 16px
		margin: 0
		padding: 5px
		line-height: 30px
		font-weight: 400
		a
			color: $red
	p
		font-size: 15px
		color: #333
.content-tour, .testimonial-detail
	> div
		padding-bottom: 20px
		margin-bottom: 40px
.create-tour
	background-image: url(../images/bg-tour.jpg)
	background-size: cover
	.title-create-tour
		color: #fff
		text-align: center
		font-size: 35px
		padding: 50px 0
		text-transform: uppercase
		line-height: 1.4
		margin: 0
	.btn-view a
		display: inline-block
		margin-bottom: 0
		line-height: 18px
		text-align: center
		vertical-align: middle
		cursor: pointer
		font-size: 14px
		padding: 11px 19px
		font-size: 16.25px
		color: #666
		background: #fff none repeat scroll 0 0
		border: 1px solid #ccc
		margin: 50px 0
		&:hover
			background-color: $red-hover
			color: #fff
.testimonial
	img
		border-radius: 50%
	.detail-testimonial
		.name
			font-size: 16px
			margin: 0
			line-height: 20px
			padding: 15px 5px 5px
			color: #333
			font-weight: 300
		p
			min-height: 50px
			margin: 5px 0 0
			color: #333
			font-style: italic
.travel
	background-image: url(../images/new-travel.jpg)
	background-size: cover
	.title-general
		color: #fff
	.new-travel
		padding: 0px 5px
	.travel-detail
		background-color: #fff
		margin: 25px 0
		padding: 25px 10px
		overflow: hidden
	img
		margin: 0 auto
		display: block
	.title-new
		margin: 0
		font-size: 16px
		line-height: 20px
		min-height: 40px
		text-align: center
		padding: 10px 0
		a
			color: $red
.footer
	background-color: #181212
	position: relative
	.container
		color: #FFF
		padding: 15px
		box-sizing: border-box
.newsletter
	margin: 10px 0 20px 0
	.register
		font-size: 18px
		margin: 0
		line-height: 20px
		padding: 5px 0
	p
		font-size: 15px
	form
		margin: 15px 0 0 0
		width: 100%
		display: block
		float: left
		input
			font-size: 13px
			padding: 7px
			border: 1px solid #ccc
			background-color: #fff
			border-radius: 3px 0 0 3px
			color: #555
			width: 270px
			float: left
		input[type="submit"]
			width: auto
			background-color: $red
			box-shadow: none
			border: 0
			outline: 0
			color: #fff
			border-radius: 0 3px 3px 0
			padding: 9px 20px 8px
			margin: -1px 0 0
			&:hover
				color: #fff
				background: $red-hover none repeat scroll 0 0
.content-footer
	margin: 25px 0
	.title-footer
		border-bottom: 1px solid #fff
		border-color: rgba(255,255,255,0.5)
		color: #fff
		text-transform: uppercase
		text-align: center
		font-size: initial
		margin: 0 0 15px
		padding: 0 0 15px
		line-height: 20px
	img
		display: block
		margin: 0 auto 10px
	.widget-footer
		margin-bottom: 15px
		display: block
		width: 100%
		float: left
	ul
		list-style: none
		margin: 0
		padding: 0
	ul.law a
			color: $red
			line-height: 25px
	ul.socials 
		li
			display: inline-block
			float: left
		a
			width: 40px
			height: 40px
			border-radius: 50%
			display: block
			text-align: center
			line-height: 44px
			margin-right: 10px
		li.facebook a
			background-color: #507cbe
		li.google a
			background-color: #434648
		li.youtube a
			background-color: #ef6c53
		li.skype a
			background-color: #00aff0
		i
			color: #fff
			font-size: 20px
	p i
		width: 15px
.btn-menu
	display: none
	font-size: 25px
	float: right
	cursor: pointer
.list-search
	select
		border: 1px solid #ccc
		background-color: #fff
		border-radius: 3px
		height: 28px
		line-height: 28px
		min-width: 160px
		padding: 0 6px
		margin-right: 10px
	.btn-reset
		display: inline-block
		padding: 4px 12px
		margin-bottom: 0
		font-size: 13px
		line-height: 18px
		text-align: center
		vertical-align: middle
		cursor: pointer
		border: 1px solid #c4c4c4
		background: #fff
		color: #565a5c
	.pull-right
		span
			float: left
			color: #fff
			line-height: 28px
			padding-right: 10px
		select
			padding-right: 0
.content-list
	margin: 10px 0 30px
.detail-list
	margin-bottom: 25px
	.title-detail
		font-size: 18px
		line-height: 1.5
		margin: 0
		font-weight: 600
		a
			color: #2f2f2f
		a:hover
			color: $red
	.content
		border-right: 1px solid #ccc
	.destinations
		line-height: 1.5
		margin: 8px 0
		color: $red
	.description
		font-weight: 400
		line-height: 1.5
		color: #333
	.price-1
		font-size: 13px
		line-height: 30px
		margin: 5px 0 0
		font-size: 18px
		b
			color: $red
		p
			margin: 0
	.price-3
		margin: 10px 0
	.btn-view-list
		display: block
		width: 100%
		float: left
		margin: 10px 0 0
		a
			background-color: $red
			padding: 7px 15px
			color: #fff
			border-radius: 3px
		a:hover
			background: $red-hover none repeat scroll 0 0
.pagination>li:first-child>a, .pagination>li:first-child>span
	border-radius: 0
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	background: $red
.news
	margin: 30px 0
	.detail-news
		margin-bottom: 20px
		padding-bottom: 30px
		border-bottom: 1px solid #ccc
	.title-blog
		font-size: 25px
		margin: 0
		line-height: 1.4
		padding: 0 0 15px
		font-weight: 400
		a
			color: #2f2f2f
		a:hover
			color: $red-hover
	.des-blog
		padding: 15px 0
		p
			margin: 0
			font-size: 15px
			color: #666
	.btn-more
		background-color: $red
		padding: 10px 20px
		color: #fff
		border-radius: 3px
		float: left
		&:hover
			background-color: $red-hover
.sidebar
	box-shadow: 0 0 2px 2px #eee
	padding: 15px
	.title-sidebar
		font-size: 20px
		margin: 0
		line-height: 1.4
		padding: 0 0 15px
	.list-news
		list-style: none
		padding: 0
		margin: 0
		li
			display: block
			width: 100%
			float: left
			margin: 8px 0
	.thumb-sidebar
		width: 100%
		margin-right: 10px
		float: left
	.title
		font-size: 15px
		font-weight: 400
		margin: 0
		line-height: 1.4
		a
			color: #383c3f
			&:hover
				color: $red-hover
.content-detail-news
	margin-bottom: 20px
	img
		display: block
		margin: 0 auto
.detail-sidebar
	padding-bottom: 15px
.thumb-detail-new
	margin-bottom: 15px
.content-detail-new
	p
		text-align: justify
.detail--list
	margin: 40px 0
	.title-detail-list
		font-size: 25px
		padding: 0 0 15px
		margin: 0
		font-style: normal
		font-weight: 400
		line-height: 1.4
	.thumb-detail-list
		img
			margin: 0 auto
	.destination
		padding: 20px 0 15px
		color: $red
	.description
		text-align: justify
		margin-top: 20px
	.title-schedule
		color: #fff
		display: block
		background-color: $red
		font-size: 18px
		padding: 10px
		text-transform: uppercase
		margin: 20px 0
	.list-schedule
		li
			line-height: 20px
			padding: 5px 0
		a
			color: #08c
			font-size: 14px
		a:hover
			color: $red-hover
	.date
		font-size: 22px
		margin: 0
		font-weight: 400
		padding: 15px 0 30px
		text-transform: uppercase
	.detail-date
		margin-bottom: 20px
		img
			margin: 0 auto 15px
	.start-date
		margin: 20px 0
		background: none
		padding-bottom: 10px
		text-transform: uppercase
		font-size: 15px
		font-weight: 400
		border-bottom: 5px solid
	.people-price
		tr
			line-height: 40px
			border-bottom: 1px solid #ccc
.related-list
	margin: 30px 0 50px
	.title-related
		font-size: 22px
		margin: 15px 0 30px
		font-weight: 400
	.title
		font-size: 16px
		line-height: 20px
		margin: 15px 0
		a
			color: #383c3f
			font-weight: bold
		a:hover
			color: $red-hover
	.price-detail
		p
			margin: 0
			line-height: 24px
		.pull-right
			margin-top: 20px
		.btn-more
			color: #fff
			background-color: $red
			padding: 5px 10px
			border-radius: 5px
			&:hover
				background-color: $red-hover
.sidebar-detail-list
	b
		color: $red
		font-size: 18px
	p
		margin-bottom: 0
		line-height: 30px
	.footer-price
		margin-top: 15px
		p
			font-size: 13px
	a
		color: #08c
	a:hover
		color: $red-hover
	.guide-top
		padding: 10px
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2)
		.content-guide-top
			border-bottom: 1px solid #ccc
			padding-bottom: 15px
			.price 
				font-size: 13px
	.btn-devis
		text-align: center
		margin-top: 15px
		display: block
		float: left
		width: 100%
		.btn-guide
			display: block
			padding: 10px 0
			background-color: #21b799
			text-transform: uppercase
			color: #fff
			float: left
			width: 100%
			font-size: 18px
			&:hover
				background-color: #21826e
.detail-create-tour
	.title-tour
		font-size: 30px
		padding: 40px 0
		color: #383c3f
		margin: 0
		text-transform: uppercase
		font-weight: bold
		text-align: center
	.title-date
		font-size: 20px
		line-height: 1.5
		margin: 0
		padding: 25px 0 35px
		font-weight: 400
		text-align: center
.content-detail-tour
	text-align: left
	width: 100%
	float: left
	margin-bottom: 40px
	.img-tour
		width: 30%
		margin: 0 25px 0 0
	.title
		margin: 0 0 5px 0
		font-size: 18px
		line-height: 24px
	p
		margin-bottom: 0
		line-height: 25px
		font-size: 15px
.form-create-tour
	.title-form
		display: block
		font-weight: bold
		margin-bottom: 5px
		line-height: 20px
	select, input
		outline: 0
		width: 100%
		padding: 10px
		border: 1px solid #ccc
		border-radius: 3px
	i
		padding-right: 5px
	.content-form-date
		margin-bottom: 25px
	textarea
		width: 100%
		padding: 10px
		border: 1px solid #ccc
		border-radius: 3px
		margin-bottom: 10px
	.form-request
		margin-bottom: 40px
	.content-infomation
		margin-bottom: 15px
	.btn-submit-form
		margin: 40px 0
		.btn-submit
			background-color: $red
			box-shadow: none
			border: 0
			outline: 0
			color: #fff
			border-radius: 3px
			padding: 10px 20px
			&:hover
				background-color: $red-hover

//Success Modal - 20/02/2017
.success-modal
	background: rgba(0,0,0,.5)
	position: fixed
	top: 0
	left: 0
	z-index: 300
	width: 100%
	height: 100%
.success-modal-container 
	max-width: 400px
	position: relative
	background: #fff
	display: block
	margin: auto
	top: 39%
	padding: 15px
	border-radius: 5px
	box-shadow: 0 2px 2px #000
	text-align: center
	z-index: 500
	i 
		color: #fff 
		font-size: 55px
		height: 76px
		width: 76px 
		border-radius: 66px
		padding: 10px
		background: green
		position: relative
		top: -50px
.success-modal-wrapper
	margin-top: -50px
	padding: 0 25px
	a 
		margin-top: 15px
		background: #bd2132
		border-color: #bd2132
		padding: 6px 25px
		&:hover 
			background: #ef5e6d
			border-color: #ef5e6d

//Collapse Content 20/02/2017
.collapse-content
	text-align: center
	width: 100%
	padding: 5px 
	background: $red 
	color: #fff
	display: block
	&:hover
		color: #fff
		text-decoration: underline
		background: #c15d68
	&:active, &:focus 
		color: #fff
.collapse-wrapper
	margin: 10px 0
	display: none
.collapse-link
	margin-top: 10px
	float: left		
	&:hover
		color: $red

//Booking Tour list 21/02/2017
.tour-select
	input[type="checkbox"]
		width: auto
		position: relative
		margin-left: 0
.tour-select-wrapper
	padding: 10px 
	border: 1px solid #ccc	
	label 
		padding-left: 0
		width: 100%
		height: 40px
		overflow: hidden
.tour-view-more 
	background: #bd2132
	color: #fff
	padding: 5px 
	border-radius: 5px
	margin-top: 15px
	font-size: 13px
	&:hover, &:focus, &:active
		color: #fff		

.support-category-news
	.title-blog
		font-size: 18px !important
		margin-top: 10px
		overflow: hidden
		white-space: nowrap
		margin-bottom: 0
	.des-blog
		height: 99px
		overflow: hidden		

.lang-change 
	li 
		padding: 0 2px!important
		img
			height: 15px