@media screen and (min-width: 480px) and (max-width: 992px)
	.theme-detail, .destination-detail, .detail-travel
		> div
			width: 50%
	.related-list .content-related
		> div
			width: 300px
			margin: 0 auto 15px
			display: block
			float: none
			height: 285px
			overflow: hidden
@media screen and (max-width: 767px)
	.content-list .detail-list
		padding-bottom: 25px
		border-bottom: 1px dotted #ccc
		img
			margin: 0 auto 15px
		.description
			display: none
	.list-search .pull-left
		margin-bottom: 10px
	.main
		.noPadding-left, .noPadding-right
			padding: 0
		.content-detail-list
			margin-bottom: 20px
	.sidebar-detail-list
		.price
			margin-bottom: 15px
	.guide img
		margin: 0 auto
	.logo
	  	margin-top: -25px
	.slide-main
	  	padding: 0!important
	.slide-main
		.title-slider
			font-size: 18px!important
	.main .general-header .title-general
	  	font-size: 20px!important
	.padding-70
	  	padding: 30px 0!important
	.container, .container-fluid
	  	padding: 0 5px!important
	.row
	  	margin: 0 -5px!important
	div[class^='col-'], div[class*=' col-']
	  	padding: 0 5px
	.search-option
	  	.center-block
	  		margin-top: 15px
	.list-search
	  	.pull-left
		  	margin-top: 10px!important
	    .btn-reset
	  		margin-top: 0!important
	  		margin-left: 10px!important
	.search-ajax
		margin-top: 10px
	.detail-date
		img 
			height: auto!important
	.content-related > div 
		margin-bottom: 15px
@media screen and (max-width: 480px)
	.main .slide-main
		.title-slider
			font-size: 18px!important
		.des
			font-size: 14px
		.item-content
			top: 20%
	.main .home-search 
		width: 85%
		select
			width: 65%
	.main .general-header .title-general
		font-size: 25px
	.footer .newsletter form input
		width: 65%
	header.header 
		.main-menu
			padding-top: 5px
			margin-top: 15px
		.menu-navigation
			top: 46px
			left: 0
			margin: 0
	.main .create-tour .title-create-tour
		font-size: 25px
		padding: 30px 0 0
	.search-option .list-search 
		select
			width: 140px
			float: left
			margin: 0
			min-width: auto
		a
			margin-left: 10px
	.main .content-detail-tour .img-tour
		width: 100%
		margin: 0 0 15px