@media screen and (max-width: 1024px)
	body
		.main
			margin: 0
	header.header
		position: relative
		.logo
			position: relative
			z-index: 9
		  	margin-top: -25px
		.main-menu
			padding-top: 10px
			position: absolute
			width: 100%
			right: 0
		  	margin-top: 15px
		.btn-menu
			display: block
		.menu-navigation
			display: none
			position: absolute
			width: 100%
			top: 53px
			background-color: #fff
			li
				display: block
				width: 100%
				padding: 10px 0
				border-bottom: 1px solid #eee
	.footer
		.newsletter form input
			width: 225px
  	.general-header .title-general
	  font-size: 15px!important
	.container
	  	padding: 0 5px
	.row
	  	margin: 0 -5px
@media screen and (max-width: 768px)
	header.header .main-menu
		padding-right: 15px
	.main .slide-main 
		.title-slider
			font-size: 25px
		.des
			font-size: 15px
			margin: 10px 0
	.main
		.padding-70
			padding: 30px 0
		.content-tour, .testimonial-detail, .destination-detail, .theme-detail
			> div
				padding-bottom: 15px
				margin-bottom: 15px
		.news .title-blog
			font-size: 20px
